@using PWDCRM.Models
@model WorkDataDetail
@*@model List<ItemDetail>;*@
@{
    ViewBag.Title = "AddItem";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
    //var data = ViewData["workData"] as List<WorkDataDetail>;
    var ItemListDetail = ViewData["ItemDetailList"] as List<ItemDetail>;
    var subDataCount = (Model != null ? Convert.ToInt32(Model.SubWorkData) : 0);
}

<style>
    .inputClass {
        width: 144px !important;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="AddItemController">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-certificate"></i> @ViewData["Title"]</h3>
                <div class="box-tools pull-right">
                    <a class="btn btn-primary" href="@Url.Action("WorkData", "Estimate")">
                        Go Estimate List
                    </a>
                </div>
            </div>
            <hr />
            <div class="box-body">
                <div id="Grid">
                    <div class="row register-form">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-right">Name of Work</label>
                                <div class="col-md-2">
                                    <label>@(Model != null ? Model.NameOfWork : "NA")</label>
                                    <input type="hidden" id="txtWorkId" name="NameOfWork" value="@(Model!=null?Model.Id:0)" />
                                    @*<select class="form-control" required="required" id="ddlWOD" name="WorkDataID">
                                            <option value="" class="hidden" selected disabled>Please select work data</option>
                                            @foreach (var item in data)
                                            {
                                                if (count == 0)
                                                {
                                                    <option selected value="@item.Id">@item.NameOfWork</option>
                                                }
                                                else
                                                {

                                                    <option value="@item.Id">@item.NameOfWork</option>
                                                }
                                                count++;

                                            }
                                        </select>*@
                                </div>
                                <label class="col-md-1 col-form-label text-right">Sub Work</label>
                                <div class="col-md-3">
                                    <select class="form-control" required="required" id="ddlSWOD" name="WorkDataID">
                                        <option value="" class="hidden" selected disabled>Please select Sub work data</option>
                                        @for (int i = 1; i <= subDataCount; i++)
                                        {
                                            if (i == 1)
                                            {
                                                <option selected value="@i">Sub Work @i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">Sub Work @i</option>
                                            }
                                        }

                                    </select>
                                </div>
                                <label class="col-md-1 col-form-label text-right">Floor</label>
                                <div class="col-md-3">
                                    <select class="form-control" required="required" id="ddlFloor" name="WorkDataID">
                                        <option value="" class="hidden" selected disabled>Please select floor</option>
                                        @for (int i = 1; i <= subDataCount; i++)
                                        {
                                            if (i == 1)
                                            {
                                                <option selected value="Floor @i">Floor @i</option>
                                            }
                                            else
                                            {
                                                <option value="Floor @i">Floor @i</option>
                                            }

                                        }

                                    </select>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-right"> Search By Category </label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="Category" id="Category" placeholder="Enter Category name" autocomplete="off" />
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control" required="required" id="ddlSSR" name="ItemNo">
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 col-form-label">OR &nbsp; &nbsp; Iteam No</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="IteamID" id="IteamID" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-right"> Item Details</label>
                                <div class="col-md-10">
                                    <label class="col-md-1 col-form-label">Item NO</label>
                                    <span class="col-md-1" id="lblItemID"></span>
                                    <label class="col-md-1 col-form-label">UnitF</label>
                                    <span class="col-md-1" id="lblUnitF"></span>
                                    <label class="col-md-1 col-form-label">CompRate</label>
                                    <span class="col-md-1" id="lblCompRate"></span>
                                    <label class="col-md-2 col-form-label">Descripation</label>
                                    <span class="col-md-4" id="lblItemDescripation"></span>

                                </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <table class="table table-hover table-responsive table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Description</th>
                                                <th>Numbers</th>
                                                <th>Length</th>
                                                <th>Breadth/Width</th>
                                                <th>Depth/Height</th>
                                                <th>Qty.</th>
                                                <th><a class="btn btn-sm btn-primary">Reset</a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" class="inputClass" name="Remarks" id="txtRemarks" />
                                                    <input type="hidden" class="inputClass" name="ID" value="0" id="txtItemDetails" />
                                                </td>
                                                <td><input type="text" data-id="Number" class="inputClass mathFormula" required name="Number" id="txtNumbers" /></td>
                                                <td><input type="text" data-id="Length" class="inputClass mathFormula" required name="Length" id="txtLength" /></td>
                                                <td><input type="text" data-id="BreadthWidth" class="inputClass mathFormula" required name="BreadthWidth" id="txtBreadthWidth" /></td>
                                                <td><input type="text" data-id="DepthHeight" class="inputClass mathFormula" required name="DepthHeight" id="txtDepthHeight" /></td>
                                                @*<td><input type="text" class="inputClass" required name="GeometricalFormulas" id="txtGeometricalFormulas" /></td>*@
                                                <td><input type="text" class="inputClass" required name="Qty" id="txtQty" /></td>

                                                <td><input type="button" class="btn btn-sm btn-success" value="Add " name="Add" id="btnAdd" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-hover table-responsive table-condensed" id="tblDataBind">
                                        <thead>
                                            <tr>
                                                <th> <input type="checkbox" name="All" id="chkAll" value="All" /> <label for="chkAll"> Check All</label>  </th>
                                                <th>Item No</th>
                                                <th>Number</th>
                                                <th>Length</th>
                                                <th>Breadth Width</th>
                                                <th>Depth Height</th>
                                                <th>Qty</th>
                                                <th>Total Qty</th>
                                                <th>Description</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ItemListDetail != null)
                                            {
                                                if (ItemListDetail.Count != 0)
                                                {
                                                    //List<double> result = ItemListDetail.GroupBy(l => l.ItemNo).Select(cl => new{TotalCount = cl.Sum(c => Convert.ToDouble(c.Qty.ToString()))}).ToList();
                                                    double count = 0.00;
                                                    var getItemNo = ItemListDetail.Select(s => s.ItemNo).Distinct().ToList();
                                                    for (int i = 0; i < getItemNo.Count; i++)
                                                    {

                                                        //if(item.ItemNo==getItemNo[i])
                                                        //{
                                                        //    count = (count+Convert.ToDouble(item.Qty));
                                                        //}
                                                        //else
                                                        //{
                                                        //   // count = 0.00;
                                                        //}
                                                        count = 0.00;
                                                        foreach (var item in ItemListDetail)
                                                        {
                                                            if (getItemNo[i] == item.ItemNo)
                                                            {
                                                               count = (count+Convert.ToDouble(item.Qty));
                                                                <tr>
                                                                    <td><input type="checkbox" value="@item.Id" name="ChkItem" id="chkIteam" /></td>
                                                                    <td>@item.ItemNo</td>
                                                                    <td>@item.Number</td>
                                                                    <td>@item.Length</td>
                                                                    <td>@item.BreadthWidth</td>
                                                                    <td>@item.DepthHeight</td>
                                                                    <td>@item.Qty</td>
                                                                    <td>@count</td>

                                                                    <td>@item.Remarks</td>
                                                                    <td><a class="editItem" data-id="@item.Id">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="deleteItem" data-id="@item.Id">Delete</a></td>
                                                                </tr>
                                                            }
                                                        }
                                                        count = 0.00;
                                                    }

                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->