@model List<PWDCRM.Models.WorkDataDetail>
@{
    ViewData["Title"] = "All Reports";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="EstimateController" ng-init="GetWorkDataList()">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-certificate"></i> @ViewData["Title"]</h3>
                <div class="box-tools pull-right">
                    <a class="btn btn-primary" href="@Url.Action("AddWorkData", "Estimate")">
                        Add Work Data
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div>

                </div>
                <div id="Grid">
                    <table class="table table-hover table-responsive table-bordered" id="bindtblWorkData">
                        <thead>
                            <tr>
                                <th>Sr .No</th>
                                <th style="width:15% !important">Name Of Work</th>
                                @*<th>SSR (Schedule Of Rates)</th>
                                <th>Fund Head </th>*@
                                <th>Area</th>
                                <th>Region</th>
                                <th>Circle</th>
                                <th>Divison</th>
                                <th>Sub-Divsion</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tblBindData">
                            @foreach (var workData in Model)
                            {
                                <tr>
                                    <td>
                                        @workData.Id
                                    </td>
                                    <td class="textwrap" style="width:340px !important;word-wrap: break-word;">
                                        @workData.NameOfWork
                                    </td>
                                    @*<td>
                                        @workData.SSRRate
                                    </td>
                                    <td>
                                        @workData.FundHead
                                    </td>*@
                                    <td>
                                        @workData.Area
                                    </td>
                                    <td>
                                        @workData.Region
                                    </td>
                                    <td>
                                        @workData.Circle
                                    </td>
                                    <td>
                                        @workData.Divison
                                    </td>
                                    <td>
                                        @workData.SubDivsion
                                    </td>

                                    <td>
                                        <a href="@Url.Action("RateAnalysisData","Estimate",new {id=workData.Id })">Rate Analisis</a>&nbsp;&nbsp; |&nbsp;&nbsp;<a href="@Url.Action("ItemConsumption","Estimate",new {id=workData.Id })">ItemConsumption</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="@Url.Action("MaterialConsumption","Estimate",new {id=workData.Id })">MaterialConsumption</a>&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Measurements","Estimate",new {id=workData.Id })">Measurements</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script type="text/javascript">

</script>