<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Quick Estimates</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--AdminLTE-->
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/wwwroot/adminlte/components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/wwwroot/adminlte/components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/wwwroot/adminlte/components/Ionicons/css/ionicons.min.css">
    <!-- Pace style -->
    <link rel="stylesheet" href="~/wwwroot/adminlte/plugins/pace/pace.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/wwwroot/adminlte/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/wwwroot/adminlte/dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!--Snycfusion-->
    @*<link href="~/wwwroot/content/ejthemes/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />*@
    <link href="~/wwwroot/content/default-responsive.css" rel="stylesheet" />
    @*<link href="~/wwwroot/content/ejthemes/responsive-css/ej.responsive.css" rel="stylesheet" />
        <link href="~/wwwroot/content/ejthemes/responsive-css/ejgrid.responsive.css" rel="stylesheet" />*@
    <link href="~/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/js/jquery-1.10.2.js"></script>
    @RenderSection("Styles", required: false)
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper" ng-app="PWSCRMApp">
        @Html.Partial("_AdminlteMainHeader")
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_AdminlteMainSidebar")
        <!-- Content Wrapper. Contains page content -->
        @RenderBody()
        <!-- /.content-wrapper -->
        @Html.Partial("_AdminlteFooter")
    </div>
    <!-- ./wrapper -->
    <!--AdminLTE-->
    <!-- jQuery 3 -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>*@
    @*<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>*@
    @*<script src="~/wwwroot/adminlte/components/jquery/dist/jquery.min.js"></script>*@
    <!-- Bootstrap 3.3.7 -->
    <script src="~/wwwroot/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/wwwroot/adminlte/components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/wwwroot/adminlte/components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/wwwroot/adminlte/dist/js/adminlte.min.js"></script>
    <!-- PACE -->
    <script src="~/wwwroot/adminlte/components/PACE/pace.min.js"></script>
    <!--Syncfusion-->
    @*<script src="~/wwwroot/adminlte/scripts/jsrender.min.js"></script>*@
    @*<script src="~/wwwroot/adminlte/scripts/ej.web.all.min.js" type="text/javascript"></script>*@
    @*<script src="~/wwwroot/adminlte/scripts/properties.js" type="text/javascript"></script>*@
    @*<script src="~/wwwroot/adminlte/scripts/jquery.validate.min.js"></script>*@
    @*<script src="~/wwwroot/adminlte/scripts/jquery.validate.unobtrusive.min.js"></script>*@
    @*<script src="~/js/jquery.dataTables.js"></script>*@
    @*<script src="~/js/angular/angular.min.js"></script>*@
    @*<script src="~/js/angular/angular.min.js"></script>*@
    @*<script src="~/js/angular/angular-route.min.js"></script>
        <script src="~/wwwroot/APIController/EstimateController.js"></script>*@

    <script src="~/js/jquery-ui.js"></script>
    @*<script src="~/wwwroot/adminlte/plugins/jQueryUI/jquery-ui.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.6.0/math.min.js"></script>*@
    <script src="~/js/math.min.js"></script>
    <script src="~/js/jquery.dataTables.js"></script>
    @*<script src="~/js/dataTables.buttons.min.js"></script>
    <script src="~/js/buttons.flash.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/buttons.html5.min.js"></script>*@
    <script type="text/javascript">

        //$(document).ready(function () {
        //    $('#BindtblWorkData').DataTable({

        //    });
        //});
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            // $("#addDivPer").hide();
            var workIteam = $("#ddlWOD").val();
            //GetAllWorkIteam(workIteam);
            //
            $("#Category").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Estimate/GetCategoryAutocomplete",
                        type: "POST",
                        dataType: "json",
                        data: { Chap: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                console.log(item);
                                // $("#txtHideID").val(item.ANO);
                                return { label: item.Chap, value: item.Chap, class: item.Chap };
                            }))
                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
            //
            $("#IteamID").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Estimate/GetIteamAutocomplete",
                        type: "POST",
                        dataType: "json",
                        data: { INO: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                console.log(item);
                                // $("#txtHideID").val(item.ANO);
                                return { label: item.INO, value: item.INO, class: item.INO };
                            }))
                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        });
        //
        function GetAllWorkIteam(workIteam) {
            alert(workIteam);
            $("#tblDataBind tbody").empty();
            $.ajax({
                url: "/Estimate/GetAllWorkIteam",
                type: "POST",
                dataType: "json",
                data: { workIteamId: workIteam },
                success: function (data) {
                    console.log(data);

                    var item = '';
                    for (var i = 0; i < data.length; i++) {
                        item += '<tr> <td><input type="checkbox" value="' + data[i].Id + '" name="ChkItem" id="chkIteam" /></td><td>' + data[i].ItemNo + '</td><td>' + data[i].Number + '</td><td>' + data[i].Length + '</td></td><td>' + data[i].BreadthWidth + '</td><td>' + data[i].DepthHeight + '</td><td>' + data[i].Qty + '</td><td>' + data[i].Remarks + '</td><td><a class="btn btn-sm btn-primary">Edit</a><a class="btn btn-sm btn-primary">Delete</a></td></tr>';

                    }
                    $("#tblDataBind tbody").html(item);
                }
            })
        }

        $("#ddlWOD").change(function () {
            var getVal = $(this).val();
            if (getVal != "") {
                GetAllWorkIteam(getVal);
            }
        });

        $("#Category").change(function () {
            var getVal = $(this).val();
            if (getVal != "") {
                $("#ddlSSR").empty();
                $.ajax({
                    url: "/Estimate/GetIteamDescripation",
                    type: "POST",
                    dataType: "json",
                    data: { CategoryName: getVal },
                    success: function (data) {
                        var item = '<option value="" class="hidden" selected disabled>Please select Decripation</option> ';
                        for (var i = 0; i < data.length; i++) {
                            item += '<option value="' + data[i].ANO + '">' + data[i].DESCRIP + '</option>';
                        }
                        $("#ddlSSR").html(item);
                    }
                })
            }
        });

        $("#IteamID").change(function () {
            var getVal = $(this).val();
            if (getVal != "") {
                // $("#ddlSSR").empty();
                SelectItemID(getVal);

            }
        });
        function SelectItemID(id) {
            $.ajax({
                url: "/Estimate/GetIteamDetailsByINo",
                type: "POST",
                dataType: "json",
                data: { Prefix: id },
                success: function (data) {
                    console.log(data);
                    var item = '<option value="" class="hidden" disabled>Please select Decripation</option> ';
                    for (var i = 0; i < data.itemDetailsList.length; i++) {
                        if (data.itemDetailsList[i].ANO == data.itemDetail.ANO) {
                            //alert(data.itemDetailsList[i].ANO);
                            //alert(data.itemDetail.ANO);
                            item += '<option selected="selected" value="' + data.itemDetailsList[i].ANO + '">' + data.itemDetailsList[i].DESCRIP + '</option>';
                            //console.log(item);
                        }
                        else {
                            item += '<option value="' + data.itemDetailsList[i].ANO + '">' + data.itemDetailsList[i].DESCRIP + '</option>';
                        }

                    }
                    $("#ddlSSR").html(item);
                    $("#lblItemID").html(data.itemDetail.INO);
                    $("#Category").val(data.itemDetail.Chap);
                    $("#lblUnitF").html(data.itemDetail.UnitF);
                    $("#lblCompRate").html(data.itemDetail.CompRate);
                    $("#lblItemDescripation").html(data.itemDetail.DESCRIP);
                }
            });
        }
        $("#ddlSSR").change(function () {
            var getVal = $(this).val();
            // alert(getVal);
            if (getVal != "") {
                $.ajax({
                    url: "/Estimate/GetIteamNoDetails",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: getVal },
                    success: function (data) {
                        console.log(data);
                        $("#lblItemID").html(data.INO);
                        $("#IteamID").val(data.INO);
                        $("#lblUnitF").html(data.UnitF);
                        $("#lblCompRate").html(data.CompRate);
                        $("#lblItemDescripation").html(data.DESCRIP);
                    }
                });
            }
        });

        $("#btnAdd").click(function () {
            var nameOfWork = $("#txtWorkId").val();
            var id = $("#txtItemDetails").val();
            var categoryTest = $("#Category").val();
            var aNOId = $("#ddlSSR").val();
            var iteamID = $("#IteamID").val();
            var numbers = $("#txtNumbers").val();
            var length = $("#txtLength").val();
            var breadthWidth = $("#txtBreadthWidth").val();
            var depthHeight = $("#txtDepthHeight").val();
            // var geometricalFormulas = $("#txtGeometricalFormulas").val();
            var qty = $("#txtQty").val();
            var remarks = $("#txtRemarks").val();
            var IsValid = 1;
            var SubWODID = $("#ddlSWOD").val();
            var FloorID = $("#ddlFloor").val();
            //  alert(iteamID);
            if (SubWODID == null) {
                IsValid = 0;
                alert("Please select Sub work");
            }
            else if (FloorID == "") {
                IsValid = 0;
                alert("Please select floor");
            }
            else if (categoryTest == "") {
                IsValid = 0;
                alert("Please enter category");
            }
            else if (aNOId == null) {
                IsValid = 0;
                alert("Please select descripation");
            }
            else if (iteamID == "") {
                IsValid = 0;
                alert("Please enter iteam no");
            }
            else if (numbers == "") {
                IsValid = 0;
                alert("Please enter numbers");
            }
            else if (qty == "") {
                IsValid = 0;
                alert("Please enter numbers");
            }
            if (IsValid == 1) {
                var ItemDetail = {};
                ItemDetail.Id = id;
                ItemDetail.ItemNo = iteamID;
                ItemDetail.WorkDataID = nameOfWork;
                ItemDetail.SubWorkID = SubWODID;
                ItemDetail.FloorData = FloorID;
                ItemDetail.Number = numbers;
                ItemDetail.Length = length;
                ItemDetail.BreadthWidth = breadthWidth;
                ItemDetail.DepthHeight = depthHeight;
                ItemDetail.Qty = qty;
                ItemDetail.Remarks = remarks;
                $.ajax({
                    url: "/Estimate/AddIteamQty",
                    type: "POST",
                    dataType: "json",
                    data: { model: ItemDetail },
                    success: function (data) {
                        console.log(data);
                        if (data.length != 0) {
                            $("#tblDataBind tbody").empty();
                            // $("#tblDataBind tbody").DataTable().clear()
                            var item = '';
                            for (var i = 0; i < data.length; i++) {
                                item += '<tr> <td><input type="checkbox" class="chkItem" value="' + data[i].Id + '" name="ChkItem" id="chkIteam" /></td><td>' + data[i].ItemNo + '</td><td>' + data[i].Number + '</td><td>' + data[i].Length + '</td></td><td>' + data[i].BreadthWidth + '</td><td>' + data[i].DepthHeight + '</td><td>' + data[i].Qty + '</td><td>' + data[i].Remarks + '</td><td><a class="editItem" data-id="' + data[i].Id + '">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="deleteItem" data-id="' + data[i].Id + '">Delete</a></td></tr>';
                            }
                            // console.log(item);
                            $("#tblDataBind tbody").html(item);
                            // $("#tblDataBind tbody").DataTable().draw();
                            //var $dataTable = $("#tblDataBind").dataTable({ /* Your settings */ });
                             location.reload();
                        }
                        $("#txtNumbers").val('');
                        $("#txtLength").val('');
                        $("#txtBreadthWidth").val('');
                        $("#txtDepthHeight").val('');

                        $("#txtQty").val('');
                        $("#txtRemarks").val('');
                    }
                });
            }
        });
        $("#btnResetItem").click(function () {
            $("#txtNumbers").val('');
            $("#txtLength").val('');
            $("#txtBreadthWidth").val('');
            $("#txtDepthHeight").val('');

            $("#txtQty").val('');
            $("#txtRemarks").val('');
        });
        $(".mathFormula").change(function () {
            var getDataId = $(this).data("id");
            var getVal = $(this).val();

            var getQut = $("#txtQty").val();
            var numbers = $("#txtNumbers").val();
            // alert(getVal);
            var length = $("#txtLength").val();
            var breadthWidth = $("#txtBreadthWidth").val();
            var depthHeight = $("#txtDepthHeight").val();
            if (length == "") {
                alert("Please enter length");
                length = 1;
            }                
            if (breadthWidth == "") {
                alert("Please enter  breadth width");
                breadthWidth = 1;
            }               
            if (depthHeight == "") {
                alert("Please enter  depth height");
                depthHeight = 1;
            }               

            if (getQut == "") {
                getQut = 1;
            }
            var result = 0.00;
            if (numbers != "" && length != "" && breadthWidth != "" && depthHeight) {
                var getFormulaValue = math.eval(numbers);
                var getFormulaValue1 = math.eval(length);
                var getFormulaValue2 = math.eval(breadthWidth);
                var getFormulaValue3 = math.eval(depthHeight);
                result = (getFormulaValue * getFormulaValue1 * getFormulaValue2 * getFormulaValue3);
            }
            else if (getDataId == "Number" && numbers != "") {
                var getFormulaValue = math.eval(numbers);
                result = (getFormulaValue * getQut);
            }
            else if (getDataId == "Length" && length != "") {
                var getFormulaValue = math.eval(length);
                result = (getFormulaValue * getQut);
            }
            else if (getDataId == "BreadthWidth" && breadthWidth != "") {
                var getFormulaValue = math.eval(breadthWidth);
                result = (getFormulaValue * getQut);
            }
            else if (getDataId == "DepthHeight" && depthHeight !== "") {
                var getFormulaValue = math.eval(depthHeight);
                result = (getFormulaValue * getQut);
            }
            $("#txtQty").val((Math.round(result * 100) / 100).toFixed(2));

        });

        $("#ddlTypeSAND").change(function () {
            $("#addDivPer").hide();
            var getval = $(this).val();
            if (getval == "R.A. With Natural Sand And V.S.I Sand Ratio") {
                alert("Please enter ratio of SAND:VSI Sand");
                $("#addDivPer").show();
            }
        });

        $(document).on("click", ".editItem", function () {
            var id = $(this).attr("data-id");
            if (id != null) {
                $.ajax({
                    url: "/Estimate/GetItemDetailById",
                    type: "POST",
                    dataType: "json",
                    data: { id: id },
                    success: function (data) {
                        console.log(data);
                        if (data != "Error") {
                            $("#ddlSSR").empty();
                            SelectItemID(data.ItemNo);
                            $("#txtItemDetails").val(data.Id);
                            $("#Category").val();
                            //$("#ddlSSR").val();
                            $("#IteamID").val(data.ItemNo);
                            $("#txtNumbers").val(data.Number);
                            $("#txtLength").val(data.Length);
                            $("#txtBreadthWidth").val(data.BreadthWidth);
                            $("#txtDepthHeight").val(data.DepthHeight);
                            // var geometricalFormulas = $("#txtGeometricalFormulas").val();
                            $("#txtQty").val(data.Qty);
                            $("#txtRemarks").val(data.Remarks);
                            $("#ddlSWOD").val(data.SubWorkID);
                            $("#ddlFloor").val(data.FloorData);
                        }
                        else {
                            alert(data);
                        }
                    }
                });
            }
        });

        $(document).on("click", ".deleteItem", function () {
            var id = $(this).attr("data-id");
            if (id != null) {
                var x = confirm("Are you sure you want to delete?");
                if (x) {
                    $.ajax({
                        url: "/Estimate/DeleteItemDetails",
                        type: "POST",
                        dataType: "json",
                        data: { id: id },
                        success: function (data) {
                            console.log(data);
                            if (data == "Success") {
                                alert("Recored delete successfully");
                                location.reload();
                            }
                            else {
                                alert(data);
                            }
                        }
                    });
                }
                else {
                    return false;
                }
            }
        });

        /// Add Lead Chareges Page
        $("#ddlItemName").change(function () {
            var getVal = $(this).val();
            if (getVal != "") {
                $("#ddlmaterial").empty();
                $.ajax({
                    url: "/Estimate/GetIteamMete",
                    type: "POST",
                    dataType: "json",
                    data: { itemNo: getVal },
                    success: function (data) {
                        console.log(data);
                        var item = '<option value="" class="hidden" selected disabled>Please select material</option> ';
                        if (data.length != 0) {
                            for (var i = 0; i < data.length; i++) {
                                item += '<option value="' + data[i] + '">' + data[i] + '</option>';
                            }
                        }
                        else {
                            alert("material not avilable ");
                        }
                        $("#ddlmaterial").html(item);

                    }
                })
            }
        });
        $("#ddlmaterial").change(function () {
            var getVal = $(this).val();
            if (getVal != "") {
                //$("#ddlmaterial").empty();
                $.ajax({
                    url: "/Estimate/GetmaterialDetail",
                    type: "POST",
                    dataType: "json",
                    data: { materialName: getVal },
                    success: function (data) {
                        console.log(data);
                        var res = (data[2] / data[0]);
                        // alert(res);
                        $("#txtleadinKM").val(0);
                        $("#txtsourceOfMaterail").val(data[1]);
                        $("#txtinitialLead").val(0);
                        $("#txtSSRRate").val(data[3]);
                        $("#txtCurrentDiff").val(0);
                        $("#txtDiffofRate").val(0);

                    }
                })
            }
        });

        $("#txtCurrentDiff").change(function () {
            var getVal = $("#txtSSRRate").val().trim();
            if (getVal == 0) {
                alert("Please enter first SSR Rate");
            }
            else {
                var current = $(this).val().trim();
                var result = (getVal - current);
                $("#txtDiffofRate").val(result);
            }
        });
        //Lead Charges Add
        $("#btnSubmitMaterial").click(function () {
            var ItemName = "NA";
            var id = $("#txtLeadChargesID").val();
            var Material = $("#ddlmaterial").val();
            var LeadinKM = $("#txtleadinKM").val();
            var SourceOfMaterail = $("#txtsourceOfMaterail").val();
            var InitialLead = $("#txtinitialLead").val();
            var workID = $("#txtWorkIdLead").val();
            var Remark = $("#remark").val();

            var SSRRate = $("#txtSSRRate").val();
            var CurrentDiff = $("#txtCurrentDiff").val();
            var DiffofRate = $("#txtDiffofRate").val();
            var SourceOfMaterial = $("#txtsOfMaterail").val();

            if (ItemName == null) {
                alert("Please select item no");
            }
            else if (Material == null) {
                alert("Please select material");
            }
            else if (LeadinKM == "") {
                alert("Please enter lead in KM ");
            }
            else if (SourceOfMaterail == "") {
                alert("Please enter Source Of materail ");
            }
            else if (InitialLead == "") {
                alert("Please enter Initial Lead ");
            }
            //else if (Remark == "") {
            //    alert("Please enter remark ");
            //}
            else {
                //
                var addModel = {}
                addModel.Id = id;
                addModel.WorkID = workID;
                addModel.Material = Material;
                addModel.Source = SourceOfMaterail;
                addModel.LeadInKM = LeadinKM;
                addModel.InitialLeadCharges = InitialLead;
                addModel.SSRRate = SSRRate;
                addModel.CurrentDiff = CurrentDiff;
                addModel.DiffofRate = DiffofRate;
                addModel.NetLeadCharges = "";
                addModel.Remarks = Remark;
                addModel.SourceOfMaterial = SourceOfMaterial;
                $.ajax({
                    url: "/Estimate/AddLeadCharges",
                    type: "POST",
                    dataType: "json",
                    data: { addModel: addModel },
                    success: function (data) {
                        if (data != "Error") {
                            $("#ddlmaterial").val("");
                            $("#txtleadinKM").val("");
                            $("#txtsourceOfMaterail").val("");
                            $("#txtinitialLead").val("");
                            $("#txtWorkIdLead").val("");
                            $("#remark").val("");
                            $("#txtSSRRate").val("");
                            $("#txtCurrentDiff").val("");
                            $("#txtDiffofRate").val("");
                            $("#txtsOfMaterail").val("");
                            $("#txtLeadChargesID").val(0);

                            $("#tblListLeadCharges tbody").empty();
                            var item = '';
                            for (var i = 0; i < data.length; i++) {
                                item += '<tr> <td>' + data[i].Id + '</td> <td>' + data[i].Material + '</td> <td>' + data[i].LeadInKM + '</td> <td>' + data[i].Source + '</td> <td>' + data[i].InitialLeadInKM + '</td> <td>' + data[i].Remarks + '</td><td><a href="#" class="editLeadChart" data-id="' + data[i].Id + '">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" data-id="' + data[i].Id + '" class="deleteLeadChart">Delete</a></td> </tr>';
                            }
                            $("#tblListLeadCharges tbody").html(item);
                            location.reload();
                            //$("#tblListLeadCharges").dataTable().fnDestroy();
                            //$("#tblListLeadCharges").dataTable();
                        }
                        else {

                        }
                    }
                });
                //
            }
        });
        $(document).on("click", ".editLeadChart", function () {
            var id = $(this).attr("data-id");
            if (id != null) {
                $.ajax({
                    url: "/Estimate/GetLeadCharges",
                    type: "POST",
                    dataType: "json",
                    data: { id: id },
                    success: function (data) {
                        console.log(data);
                        if (data != "Error") {
                            //
                            var items = [];
                            $('#tblListLeadCharges tbody tr td:nth-child(2)').each(function () {
                                items.push($(this).text());
                            });
                            $("#ddlmaterial option").each(function () {
                                if (items.includes($(this).val())) {
                                    $(this).attr("disabled", "disabled");
                                }
                            });
                            //
                            $("#ddlmaterial option").each(function () {
                                var gmat = $(this).val();
                                if (gmat == data.Material) {
                                    $(this).prop('disabled', false);
                                }
                            });
                            $("#ddlmaterial").val(data.Material);
                            $("#txtleadinKM").val(data.LeadInKM);
                            $("#txtsourceOfMaterail").val(data.Source);
                            $("#txtinitialLead").val((Math.round(data.InitialLeadCharges * 100) / 100).toFixed(2));
                            //$("#txtWorkIdLead").val("");
                            $("#remark").val(data.Remarks);
                            $("#txtSSRRate").val(data.SSRRate);
                            $("#txtCurrentDiff").val(data.CurrentDiff);
                            $("#txtDiffofRate").val(data.DiffofRate);
                            $("#txtLeadChargesID").val(data.Id);
                            $("#txtsOfMaterail").val(data.SourceOfMaterial);
                        }
                        else {
                            alert(data);
                        }
                    }
                });
            }
        });

        $(document).on("click", ".deleteLeadChart", function () {
            var id = $(this).attr("data-id");
            if (id != null) {
                var x = confirm("Are you sure you want to delete?");
                if (x) {
                    $.ajax({
                        url: "/Estimate/DeleteLeadCharges",
                        type: "POST",
                        dataType: "json",
                        data: { id: id },
                        success: function (data) {
                            console.log(data);
                            if (data == "Success") {
                                alert("Recored delete successfully");
                                location.reload();
                            }
                            else {
                                alert(data);
                            }
                        }
                    });
                } else {
                    return false;
                }
            }
        });

        $("#txtleadinKM").change(function () {
            var getVal = $(this).val();
            if (getVal != "") {
                var materialName = $("#ddlmaterial").val();
                //$("#ddlmaterial").empty();
                $.ajax({
                    url: "/Estimate/GetFactorDetail",
                    type: "POST",
                    dataType: "json",
                    data: { materialName: materialName, FACTOR: getVal },
                    success: function (data) {
                        console.log(data);
                        if (data.length != 0) {
                            if (data[2] != "NA") {
                                var res = (data[2] / data[0]);
                                // $("#txtleadinKM").val(data[0]);
                                $("#txtsourceOfMaterail").val(data[1]);
                                $("#txtinitialLead").val((Math.round(res * 100) / 100).toFixed(2));
                                $("#txtSSRRate").val(data[3]);

                            }
                            else {
                                alert("Please Enter valid lead in km");
                                $("#txtsourceOfMaterail").val(0);
                                $("#txtinitialLead").val(0);
                                $("#txtSSRRate").val(0);
                            }
                        }
                        else {
                            alert("Please select material");
                            $("#txtsourceOfMaterail").val(0);
                            $("#txtinitialLead").val(0);
                            $("#txtSSRRate").val(0);
                        }

                        $("#txtCurrentDiff").val(0);
                        $("#txtDiffofRate").val(0);


                    }
                })
            }
        })
        ////Bulk Copy
        //$(document).on("click", ".chkItem", function () {
        //    var getUnSeletedCount = $('input:checkbox.chkItem:checked').length;
        //    var getSelectedCount = $('input:checkbox.chkItem').length;
        //    if (getUnSeletedCount == getSelectedCount) {
        //        $('.chkItemAll').prop('checked', true); // Checks it
        //    }
        //    else {
        //        $('.chkItemAll').prop('checked', false); // Checks it
        //    }
        //});
        //$(document).on("click", ".chkItemAll", function () {
        //    if ($(this).prop("checked") == true) {
        //        $('.chkItem').prop('checked', true); // Checks it
        //    }
        //    else {
        //        $('.chkItem').prop('checked', false); // Checks it
        //    }
        //});

        //$('body').on('click', '#selectAll', function () {
        //    if ($(this).hasClass('allChecked')) {
        //        $('input[type="checkbox"]', allPages).prop('checked', false);
        //    } else {
        //        $('input[type="checkbox"]', allPages).prop('checked', true);
        //    }
        //   // $(this).toggleClass('allChecked');
        //})
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#bindtblWorkData').DataTable();
            $('#tblListLeadCharges').DataTable();
            //$('#tblReportRateAnalisis').DataTable({
            ////    dom: 'Bfrtip',
            ////    buttons: [
            ////         'csv', 'excel', 'pdf'
            ////    ]
            //});
            var table = $('#tblDataBind').DataTable();
            //Bulk Copy Section
            $(document).on("click", ".chkItemAll", function () {
                var rows = table.rows({ 'search': 'applied' }).nodes();
                console.log(rows);
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });
            // Handle click on checkbox to set state of "Select all" control
            $('#tblDataBind tbody').on('change', 'input[type="checkbox"]', function () {
                // If checkbox is not checked
                if (!this.checked) {
                    var el = $('.chkItemAll').get(0);
                    // If "Select all" control is checked and has 'indeterminate' property
                    if (el && el.checked && ('indeterminate' in el)) {
                        el.indeterminate = true;
                    }
                }
                else {
                    var el = $('.chkItemAll').get(0);
                    if (el && el.checked && ('indeterminate' in el)) {
                        el.indeterminate = false;
                    }
                }
            });

            //Click on Bulk Button
            var list = new Array();
            $(document).on("click", "#btnbulkCopy", function (e) {
                list = new Array();
                table.$('input[type="checkbox"]').each(function () {
                    if (this.checked) {
                        list.push(this.value);
                        // alert(this.value);
                    }
                });
                var getIteamNo = $("#IteamID").val();
                var SubWODID = $("#ddlSWOD").val();
                var FloorID = $("#ddlFloor").val();
                var nameOfWork = $("#txtWorkId").val();
                if (list.length == 0) {
                    alert("Please select any row for the copy data");
                }
                else if (SubWODID == null) {
                    alert("Please select Sub work");
                }
                else if (FloorID == "") {
                    alert("Please select floor");
                }
                else if (getIteamNo == "") {
                    alert("Please select any iteam no");
                }
                else {
                    $.ajax({
                        url: "/Estimate/AddIteamBulk",
                        type: "POST",
                        dataType: "json",
                        data: { WorkDataID: nameOfWork, ItemNo: getIteamNo, FloorData: FloorID, SubWorkID: SubWODID, ItemDetailIds: list },
                        success: function (data) {
                            console.log(data);
                            alert("Data saved successfully");
                            location.reload();
                        }
                        , error: function (xhr) {
                            console.log(xhr);
                            alert("Something went wrong");
                        }
                    });
                }

                e.preventDefault();
            });

        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
